Should InValidResourceIndicatorString allow any other schemes than http(s)?

According to [RFC 8707, Section 2](https://www.rfc-editor.org/info/rfc8707/#section-2):

The value of the resource parameter MUST be an absolute URI, as defined by Section 4.3 of [RFC3986].
It SHOULD be a URL [RFC3986].

I suggest that the InValidResourceIndicatorString is extended to only allow http and https schemes, even though SHOULD does not require it.

Maybe we should add an input length restriction for resource parameter too (as for many other parameters)?